<div class="hero"> 
	<br/>

	<div class="frosty frosty col-xs-10 col-xs-offset-1 text-center">
	  <br/>	
	  <br/>
	  <h1>hello</h1>
	  <br/>
	  <h2>good morning</h2>
	  <br/>
	  <%= link_to 'Learn More', '#', class: 'navbar-link' %>
	  <br/>
	  <br/>
	</div>
</div>