.navbar {
	border-radius:0;
	font-familiy:"Helvetica Neue", Helvetica;
	font-weight:200;
	box-shadow: 0px 1px 3px #2a2a2a;
	font-color: black;
}

.navbar-inverse a.navbar-brand {
	font-family:"Helvetica Neue", Helvetica;
	font-weight:100;
	color:white;
}

.hero {
	background: url('hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 970px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
	color:white;
}

.frosty h1 {
	font-family:"Helvetica Neue", Helvetica;
	font-weight:100;
	text-shadow: 1px 1px 1px #000;
}

.frosty h2 {
	font-family:"Helvetica Neue", Helvetica;
	font-weight:200;
	text-shadow: 1px 1px 1px #000;
}

.navbar-link {
	color: hotpink;
}